@model IEnumerable<Task_2.BudgetAllocation>


@{
    ViewData["Title"] = "View";
}

<h1>View</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Disaster
            </th>
            <th>
                Disaster Budget
            </th>
            <th>
                Total Goods Purchase
            </th>
            <th>
                Budget Remaining
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.disaterType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.disasterBudget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalGoodsPurchase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.budgetRemaining)
            </td>
           
        </tr>
}
    </tbody>
</table>
